$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;

$--button-padding: 0 16px !default;
$--button-large-height: 60px !default;
$--button-large-font-size: 18px !default;
$--button-medium-height: 40px !default;
$--button-medium-font-size: 18px !default;
$--button-small-height: 32px !default;
$--button-small-font-size: 14px !default;
$--button-mini-height: 28px !default;
$--button-mini-font-size: 12px !default;

$--button-raidus-large: 20px !default;
$--button-raidus-round: 14px !default;
$--button-raidus-normal: 4px !default;
$--button-raidus-rectangle: 0px !default;

$--button-disabled-color: #cccccc !default;
$--button-disabled-background: #f6f6f6 !default;